<a href="https://colab.research.google.com/github/scaleracademy/dsml-intermediate-may-22/blob/main/OOPS_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
class Student:
  subject_name = "Math for ML"

In [11]:
s1 = Student()
s1.name = 'Emma'
s1.roll_no = 10

In [13]:
s1.subject_name

'Math for ML'

In [14]:
Student.subject_name = "ML"

In [15]:
s1.subject_name

'Math for ML'

In [16]:
s1.name = "something"

In [2]:
s1.subject_name = "something"

In [3]:
Student.subject_name

'Machine Learning'

In [4]:
s1.subject_name

'something'

In [ ]:
isinstance(1, object)

In [64]:
class ABC:
  def __init__(self, x):
    self.x = x

class SchoolMember:
  def __init__(self, name):
    self.name = name

class Student(SchoolMember):
  pass

class Staff(SchoolMember):
  def __init__(self, name, salary):
    super().__init__(name)
    self.salary = salary

class Teacher(Staff):
  def __init__(self, name, salary, subject):
    super().__init__(name, salary)
    self.salary = 10000
    self.subject = subject

In [19]:
s1 = Student("Jatin")

In [20]:
type(s1)

__main__.Student

In [23]:
isinstance(s1, SchoolMember)

True

In [65]:
t1 = Teacher('Jatin', 200000, 'Python')

In [66]:
print(t1.salary)

200000

In [80]:
class BankAccount:
  def __init__(self, startingBalance):
    self.__balance = startingBalance

  def deposit(self, amount):
    self.__balance += amount

  def withdraw(self, amount):
    self.__balance -= amount
  
  def balance(self):
    return self.__balance

In [81]:
b1 = BankAccount(10000)

In [82]:
b1.deposit(5000)

In [83]:
b1.balance()

15000

Name Mangling

In [86]:
b1._BankAccount__balance

20000

In [85]:
b1._BankAccount__balance = 20000

In [72]:
b1.withdraw(15000)

In [73]:
b1.balance

0

In [74]:
b1.balance = 10000

In [75]:
b1.balance

10000

In [97]:
class A:
  x = 10

class B(A):
  pass

class C(B):
  pass

class D(A):
  x = 5

class E(C, D):
  pass

In [98]:
E.__mro__

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)

In [99]:
E.x

5

In [101]:
n = 6
[[max(i,j) if i+j > n else n-(i+j)+max(i,j) for j in range(1,n)] for i in range(1,n)]

[[5, 5, 5, 5, 5],
 [5, 4, 4, 4, 5],
 [5, 4, 3, 4, 5],
 [5, 4, 4, 4, 5],
 [5, 5, 5, 5, 5]]

In [102]:
recur_add = lambda x: x + recur_add(x-1) if x > 0 else x

In [103]:
recur_add(5)

15

In [104]:
def func2(c, d):
  return c, d 

def func1(a, b):
  c = a
  d = b
  return lambda: func2(c,d) 

result = func1(1, 2) 
print(result())

(1, 2)

In [ ]:
emails = list(filter(lambda x: x.count('@') == 1, emails))
verified_lex = []
for i in emails:
  e = i.split('@')
  if len(e) == 2 and len(e[0]) <= 20 and len(e[0]) >= 1 and (not e[1].startswith('.')) and '.' in e[1]:
    verified_lex.append(i)
print(sorted(verified_lex))

In [105]:
import re

In [ ]:
emails = ['brian-23@scaler.com', 'brute_54@scaler.com', 'sarascaler.com', 's@a.co.in', 'sarascaler.@com', 'eren_voldig_yeager@gmail@rediffmail.com', 'yeagerist@google.co.in']
re.match

In [106]:
def func():
  import re
  print("Hello World")

In [107]:
func()

Hello World